@model IEnumerable<CompanyOrg.Models.Uzytkownik>

@using GridMvc.Html

@{
    ViewBag.Title = "Index Użytkowników";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@{
    Layout = null;
}
        
    <h1>Grid.MVC</h1>
    <hr />
    <div style="width:500px;">
      
        @Html.Grid(Model).Columns(columns => 
        {
            columns.Add(c => c.nazwisko).Titled("Nazwisko");
            columns.Add(c => c.imie).Titled("Imię");
            columns.Add(c => c.MPK).Titled("MPK");

        });
        
    </div>
        

